%div{:class => "center jumbotron", :style => "text-align:center"} RESTAURANTS

%center
  %a(href='/restaurants/new') Add a restaurant

- if @restaurants.any?
  - @restaurants.each do |restaurant|
    %h1= link_to restaurant.name, restaurant_path(restaurant), :class => "btn btn-lg btn-primary"
    %h3 Average rating: #{star_rating(restaurant.average_rating)}
    %br
    - if current_user
      = link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant)
      %br
      = link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete
      %br
      = link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant)
      %br
    - restaurant.reviews.each do |review|
      %p= review.thoughts
    %p= "-------------"

- else
  %h1 No restaurants yet!
